.container {
  background-color: #ccc;
  height: 100vh;
  padding: 8px;
}

.slider {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-color: transparent transparent;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider > div {
  scroll-snap-align: start;
}

.card {
  position: relative;
  height: 500px;
  max-width: 800px;
  padding: 8px;
  border-radius: 4px;
  background-color: #fff;
}

.title {
  font-size: 24px;
  line-height: 30px;
  margin: 8px;
  margin-bottom: 20px;
}

.radioButton {
  display: none;
}

@media (min-width: 800px) {
  .radioButton {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    color: #323232;
    border: 1px solid white;
    top: 28%
  }
  
  .nextButton {
    right: 5px;
  }
  .prevButton {
    left: 10px;
  }
}